body{

  background-color:  hwb(0 0% 100%);
  background-image: url("../../assets/bookwallpaper.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}


.btn{
  color: white;
  background-color: rgb(190, 179, 23);

}

input, #search-box{
  background-color: rgb(190, 179, 23);
  height: 40px;
  width: 400px;
  font-size: 30px;
  color: whitesmoke;

}

::placeholder{
  color: #fff;
}

:-ms-input-placeholder{

  color: #fff;
}

h1{

  color: #fff;
}

h2{
color: black;

}
#header {
  font-family: 'Righteous', sans-serif;
  font-size: 3rem;
}

h2 {
  font-family: 'Righteous', sans-serif;
}

.book-list {
  margin-top: 50px;
  visibility: hidden;
}
