<!DOCTYPE html>
<html>

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://openlibrary.org/api/books?bibkeys=ISBN:0451526538&callback=mycallback"></script>

  <script>
    var app = angular.module("myfrontendapp", []);
    app.controller("myCtrl", function($scope, $http) {
      $scope.search = function() {
        $http.get("https://openlibrary.org/works/OL45804W.json" + $scope.query)
          .then(function(response) {
              $scope.books = response.data;
            },
            function(response) {
              console.log("Error: " + response.statusText);
            });
      };
    });
  </script>
</head>

<body ng-app="myfrontendapp" ng-controller="myCtrl">

  <input type="text" ng-model="query" />
  <button ng-click="search()">Search</button>

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>URL</th>
        <th>Description</th>
        <th>Author</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="book in books">
        <td>{{ book.title }}</td>
        <td><a href="{{ book.url }}">{{ book.url }}</a></td>
        <td>{{ book.description }}</td>
        <td>{{ book.authors }}</td>
      </tr>
    </tbody>
  </table>

</body>


</html>
