<!DOCTYPE html>
<html>

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://books.google.com/books?hl=en&as_coll=0&num=10&uid=11122233344455566778&source=gbs_slider_cls_metadata_0_mylibrary"></script>

  <script>
    var app = angular.module("myfrontendapp", []);
    app.controller("myCtrl", function($scope, $http) {
      $scope.search = function() {
        $http.get("https://www.googleapis.com/books/v1/volumes?q=time&printType=books&key=AIzaSyCGC083f5m4-6LC5at4Nyb9UXsMxbMYyr8" + $scope.query)
          .then(function(response) {
              $scope.books = response.data;
            },
            function(response) {
              console.log("Error: " + response.statusText);
            });
      };
    });
  </script>
</head>

<body ng-app="myfrontendapp" ng-controller="myCtrl">
  <div class="main-div">
<br/>

  <input type="text" ng-model="query" /> <br/>
  <button class="btn" ng-click="search()">Search</button>

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>URL</th>
        <th>Description</th>
        <th>Author</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="book in books">
        <td>{{ book.title }}</td>
        <td><a href="{{ book.url }}">{{ book.url }}</a></td>
        <td>{{ book.description }}</td>
        <td>{{ book.authors }}</td>
      </tr>
    </tbody>
  </table>
  </div>
</body>


</html>
