<!doctype>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>
  <body>
<nav class='navbar'>
  <a class='navbar-brand'>{{pageTitle}}</a>
  <ul class='nav nav-pills'>
    <li><a class='nav-link' routerLinkActive='active' routerLink='/home'>Home</a></li>
    <li><a class='nav-link' routerLinkActive='active' routerLink='/book'> Books</a></li>
  </ul>
  <form class="d-flex" role="search">
    <input class="search form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn" type="submit">Search</button>
  </form>
</nav>
<div class='container'>
<router-outlet></router-outlet>
</div>
</body>
</html>

