<!doctype html>
<html lang="en" >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" >
  </head>
  <body style="background-color: hwb(0 0% 100%)" >
    <div class="main-div">
        <h1>WHAT BOOK DO YOU FANCY?!</h1>
  </div>

<div>
<span><img class="img1" src="./assets/Romance-pxleyes1.jpg"><h4>Romance</h4></span>
<span><img class="img1" src="./assets/adventures.jpg"><h4>Adventure</h4></span>
<span><img class="img1" src="./assets/classics.jpg"><h4>The Classics</h4></span>
<span><img class="img1" src="./assets/comedy.jpg"><h4>Comedy</h4></span>
<span><img class="img1" src="./assets/crime.jpg"><h4>Crime/Mystey</h4></span>
<span><img class="img1" src="./assets/bio.jpg"><h4>Biographies</h4></span>
<span><img class="img1" src="./assets/fantasy.jpg"><h4>Fantasy</h4></span>
<span><img class="img1" src="./assets/poetry.jpg"><h4>Poetry</h4></span>




</div>
</body>
</html>
